@page
@model OstoslistaAPI.Pages.CreateNewShopperModel
@{
    ViewData["Title"] = "Luo uusi ostoslista";
}

<div class="text-center">
    <h1><i class="fa fa-plus-circle"></i> Luo uusi ostoslista</h1>
    @{
        if (!Model.User.Identity.IsAuthenticated)
        {
    <text>
    <div class="spaceBelow">
        <span>Pystyt hallitsemaan ostoslistaasi paremmin, jos kirjaudut ensin sisään!</span><br/>
        <a href="/Login" target="_self" title="Kirjaudu sisään Google tunnuksillasi" class="text-dark"><i class="fas fa-sign-in-alt"></i> Kirjaudu tästä ensin sisään</a>
    </div>
    </text>
        }
    }
    <div>
        Syötä ostoslistan yksilöllinen nimi:&nbsp;
        <input type="text"
               id="uusiOstoslista"
               placeholder="Ostoslistan nimi..."
               onkeypress="return keyPress(event, sendNew);"
               title="Syötä ostoslistan yksilöllinen nimi"
               class="newItem"
               value="@Model.GetRandomShopperName()" />&nbsp;
        <input type="button" value="Luo" onclick="sendNew();" class="buttons" />
    </div>
</div>

<script type="text/javascript">
    function keyPress(e, delegate) {
        if (e.keyCode === 13) {
            delegate();
            return false;
        }
    }

    function sendNew() {
        var elem = $("#uusiOstoslista");

        if (!elem) {
            return;
        }

        var name = elem.val().trim();

        if (!name) {
            return;
        }

        $.ajax({
            type: 'POST',
            url: "/api/ShoppingList/addShopper",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            data: JSON.stringify({
                Name: name
            }),
            success: function (data) {
                window.location = "/?lista=" + encodeURIComponent(data);
            },
            error: function(e) {
                console.log("ERROR: " + e);
            }
        });
    }

    $(document).ready(function () {
        $.blockUI.defaults.css = {};

        $.ajaxSetup({
            beforeSend: function () {
                $.blockUI({
                    message: $('#waitIndContainer')
                });
            },
            complete: function () {
                $.unblockUI();
            }
        });
    });
</script>