@page
@model OstoslistaAPI.Pages.IndexModel
@{
    ViewData["Title"] = "Tuotteet";
}

<style type="text/css">
    #waitIndContainer {
        display: table;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 150px;
        height: 60px;
        margin: auto;
        background-color: #000000;
        border: 2px solid gray;
        border-radius: 10px;
        padding: 15px;
    }

    .waitInd {
        display: table-cell;
        color: #ffffff;
        text-align: center;
        vertical-align: middle;
    }

    .shoppingList {
        font-size: 16pt;
        text-align: left;
        display: table;
        margin: auto;
        padding-top: 15px;
    }

    .buyCheckedItems {
        margin-top: 30px;
    }

    .shoppingList-item-row {
        overflow: hidden;
        white-space: nowrap;
        display: table-row;
        cursor: pointer;
    }

    .shoppingList-item-cell {
        overflow: hidden;
        white-space: nowrap;
        display: table-cell;
    }

    .buttons {
        cursor: pointer;
        border-radius: 8px;
    }

    .newItem {
        border-radius: 8px;
        padding: 3px;
    }

    .shoppingList-item-new {
        color: green;
        margin-left: 10px;
    }
</style>

<div class="text-center">
    <h1>Ostoslista</h1>
    <div>
        <input type="text" id="uusiTuote" placeholder="Syötä uusi tuote..." onkeypress="return keyPress(event);" class="newItem"/>&nbsp;
        <input type="button" value="Lähetä" onclick="sendNew();" class="buttons"/>
    </div>
    <div class="shoppingList" id="ostoslista">Ladataan...</div>
    <div class="buyCheckedItems"><input type="button" value="Maksa valitut tuotteet" onclick="buyCheckedItems();" class="buttons"/></div>
</div>

<script type="text/javascript">
    function buyCheckedItems() {
        $.ajax({
            type: 'DELETE',
            url: "/api/ShoppingList/unpending",
            dataType: 'json',
            success: function() {
                loadShoppingListData();
            },
            error: function(e) {
                console.log("ERROR: " + e);
            }
        });
    }

    function keyPress(e) {
        if (e.keyCode === 13) {
            sendNew();
            return false;
        }
    }

    function sendNew() {
        var elem = $("#uusiTuote");
  
        if (!elem) {
            return;
        }

        var title = elem.val().trim();

        if (!title) {
            return;
        }

        $.ajax({
            type: 'POST',
            url: "/api/ShoppingList",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            data: JSON.stringify({
                Title: title
            }),
            success: function(data) {
                addItemToList(data, true);
                elem.val("");
                elem.focus();
            },
            error: function(e) {
                console.log("ERROR: " + e);
            }
        });
    }

    function togglePending() {
        var elem = $(this).find("i");
        var guidElement = $(this).find('input[name="tuoteId"]');

        if (!elem || !guidElement) {
            return;
        }

        var setPending = elem.hasClass("fa-check-circle");

        $.ajax({
            type: 'PUT',
            url: "/api/ShoppingList/" + guidElement.val() + "/" + setPending,
            dataType: 'json',
            success: function() {
                if (setPending) {
                    elem.removeClass("fa-check-circle");
                    elem.addClass("fa-circle");
                } else {
                    elem.removeClass("fa-circle");
                    elem.addClass("fa-check-circle");
                }
            },
            error: function(e) {
                console.log("ERROR: " + e);
            }
        });
    }

    function addItemToList(data, addPlus) {
        var row = $('<div class="shoppingList-item-row"></div>');
        row.prop("title", data.Title);
        var cell1 = $('<div class="shoppingList-item-cell"></div>');
        if (data.Pending) {
            cell1.append($('<i name="tuoteKorissa" class="far fa-circle"></i>'));
        } else {
            cell1.append($('<i name="tuoteKorissa" class="far fa-check-circle"></i>'));
        }
        row.append(cell1);
        var cell2 = $('<div class="shoppingList-item-cell"></div>');
        cell2.append($('<span style="margin-left: 10px"></span>').text(data.Title));
        cell2.append($('<input type="hidden" name="tuoteId"/>').val(data.Id));
        if (addPlus) {
            cell2.append($('<i class="fa fa-plus-circle shoppingList-item-new" aria-hidden="true"></i>').val(data.Id));
        }
        row.append(cell2);
        row.click(togglePending);
        row.hide().appendTo("#ostoslista").fadeIn(1000);
    }

    function loadShoppingListData() {
        $.ajax({
            type: 'GET',
            url: "/api/ShoppingList",
            dataType: 'json',
            success: function(data) {
                var ostoslista = $("#ostoslista");
                ostoslista.html("");

                for (var i = 0; i < data.length; i++) {
                    addItemToList(data[i]);
                };
            },
            error: function(e) {
                console.log("ERROR: " + e);
            }
        });
    }

    $(document).ready(function () {
        $.blockUI.defaults.css = {};

        $.ajaxSetup({
            beforeSend: function() {
                $.blockUI({
                    message: '<div id="waitIndContainer"><div class="waitInd"><i class="fas fa-cog fa-spin"></i> Hetkinen...</div></div>'
                });
            },
            complete: function () {
                $.unblockUI();
            }
        });

        loadShoppingListData();
    });
</script>
