@page
@using System.Web
@model OstoslistaAPI.Pages.IndexModel
@{
    ViewData["Title"] = $"Tuotteet";
}

<div id="waitIndContainer" style="display: none;">
    <div class="waitInd"><i class="fas fa-cog fa-spin"></i> Hetkinen...</div>
</div>

<div class="text-center">
    <h1>Ostoslista@(string.IsNullOrWhiteSpace(Model.ShopperName) ? "" : $" ({Model.HtmlEncodedShopperName})")</h1>
    <div id="ostolistaTuotteet" style="display: none;">
        <div>
            <input type="text" id="uusiTuote" placeholder="Syötä uusi tuote..." onkeypress="return keyPress(event, sendNew);" class="newItem"/>&nbsp;
            <input type="button" value="Lähetä" onclick="sendNew();" class="buttons"/>
        </div>
        <div class="shoppingList" id="ostoslista">Ladataan...</div>
        <div class="buyCheckedItems"><input type="button" value="Maksa valitut tuotteet" onclick="buyCheckedItems();" class="buttons"/></div>
    </div>
</div>

<script type="text/javascript">
    function buyCheckedItems() {
        $.ajax({
            type: 'DELETE',
            url: "/api/ShoppingList/@Model.UrlEncodedShopperName/unpending",
            dataType: 'json',
            success: function() {
                loadShoppingListData();
            },
            error: function(e) {
                console.log("ERROR: " + e);
            }
        });
    }

    function keyPress(e, delegate) {
        if (e.keyCode === 13) {
            delegate();
            return false;
        }
    }

    function sendNew() {
        var elem = $("#uusiTuote");
  
        if (!elem) {
            return;
        }

        var title = elem.val().trim();

        if (!title) {
            return;
        }

        var row = getTempItemRow(title);
        row.hide().appendTo("#ostoslista").fadeIn(1000);

        $.ajax({
            type: 'POST',
            url: "/api/ShoppingList/@Model.UrlEncodedShopperName",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            data: JSON.stringify({
                Title: title
            }),
            success: function (data) {
                setItemRowValues(row, data);
                row.click(togglePending);
                elem.val("");
                elem.focus();
            },
            error: function(e) {
                console.log("ERROR: " + e);
            }
        });
    }

    function togglePending() {
        var row = $(this);
        var elem = row.find('i[name="tuoteKorissa"]');
        var guidElement = row.find('input[name="tuoteId"]');

        if (!elem || !guidElement) {
            return;
        }

        row.off('click');
        var setPending = elem.hasClass("fa-check-circle");
        setItemRowAjaxRunning($(this));

        $.ajax({
            type: 'PUT',
            url: "/api/ShoppingList/" + guidElement.val() + "/" + setPending,
            dataType: 'json',
            success: function (data) {
                setItemRowPending(row, data);
                row.click(togglePending);
            },
            error: function(e) {
                console.log("ERROR: " + e);
                row.click(togglePending);
            }
        });
    }

    function setItemRowPending(row, data) {
        var checkElem = row.find('i[name="tuoteKorissa"]');
        checkElem.removeClass("fas");
        checkElem.removeClass("fa-spinner");
        checkElem.removeClass("fa-spin");
        checkElem.addClass("far");
        if (data.Pending) {
            checkElem.addClass("fa-circle");
        } else {
            checkElem.addClass("fa-check-circle");
        }
    }

    function setItemRowAjaxRunning(row) {
        var checkElem = row.find('i[name="tuoteKorissa"]');
        checkElem.removeClass("far");
        checkElem.removeClass("fa-circle");
        checkElem.removeClass("fa-check-circle");
        checkElem.addClass("fas");
        checkElem.addClass("fa-spinner");
        checkElem.addClass("fa-spin");
    }

    function setItemRowValues(row, data) {
        row.prop("title", data.Title);
        var idElem = row.find('input[name="tuoteId"]');
        idElem.val(data.Id);
        var checkElem = row.find('i[name="tuoteKorissa"]');
        checkElem.removeClass("fas");
        checkElem.removeClass("fa-spinner");
        checkElem.removeClass("fa-spin");
        checkElem.addClass("far");
        checkElem.addClass("fa-circle");
    }

    function getItemRow(iconElem, title, itemId, addPlus) {
        var row = $('<div class="shoppingList-item-row"></div>');
        row.prop("title", title);
        row.append(iconElem);
        var cell2 = $('<div class="shoppingList-item-cell"></div>');
        cell2.append($('<span style="margin-left: 10px"></span>').text(title));
        cell2.append($('<input type="hidden" name="tuoteId"/>').val(itemId));
        if (addPlus) {
            cell2.append($('<i class="fa fa-plus-circle shoppingList-item-new" aria-hidden="true"></i>'));
        }
        row.append(cell2);
        return row;
    }

    function getTempItemRow(title) {
        var iconElem = $('<div class="shoppingList-item-cell"></div>');
        iconElem.append($('<i name="tuoteKorissa" class="fas fa-spinner fa-spin"></i>'));
        return getItemRow(iconElem, title, "", true);
    }

    function addItemToList(data, addPlus) {
        var iconElem = $('<div class="shoppingList-item-cell"></div>');
        if (data.Pending) {
            iconElem.append($('<i name="tuoteKorissa" class="far fa-circle"></i>'));
        } else {
            iconElem.append($('<i name="tuoteKorissa" class="far fa-check-circle"></i>'));
        }

        var row = getItemRow(iconElem, data.Title, data.Id, addPlus);
        row.click(togglePending);
        row.hide().appendTo("#ostoslista").fadeIn(1000);
    }

    function openShoppingList() {
        var id = $("#ostoskassinTunnus");

        if (!id) {
            return;
        }

        window.location = "/?lista=" + encodeURIComponent(id.val());
    }

    function loadShoppingListData() {
        var elem = $("#ostolistaTuotteet");

        if (@(Model.ShopperName?.Length ?? 0) === 0) {
            elem.html("");
            elem.append($("<h2>Käytä ostoskassi tunnustasi!</h2>"));
            var row = $("<div></div>");
            row.append($('<input type="text" id="ostoskassinTunnus" size="10" placeholder="Syötä tunnus..." onkeypress="return keyPress(event, openShoppingList);" class="newItem"/>'));
            row.append("&nbsp;");
            row.append($('<input type="button" value="Avaa" onclick="openShoppingList();" class="buttons" />'));
            elem.append(row);
            elem.show();
            return;
        }

        elem.show();

        $.blockUI({ message: $('#waitIndContainer') });
        $.ajax({
            type: 'GET',
            url: "/api/ShoppingList/@Model.UrlEncodedShopperName",
            dataType: 'json',
            success: loadShoppingListDataSuccess,
            error: function(e) {
                console.log("ERROR: " + e);
            }
        });
    }

    function loadShoppingListDataSuccess(data) {
        var ostoslista = $("#ostoslista");
        ostoslista.html("");

        for (var i = 0; data && i < data.length; i++) {
            addItemToList(data[i]);
        };
    }

    $(document).ready(function () {
        $.blockUI.defaults.css = {};
        $(document).ajaxStop($.unblockUI);
        //$.ajaxSetup({
        //    beforeSend: function() {
        //        $.blockUI({
        //            message: $("#waitIndContainer")
        //        });
        //    },
        //    complete: function () {
        //        $.unblockUI();
        //    }
        //});

        loadShoppingListData();
    });
</script>
