@page
@model OstoslistaAPI.Pages.MyShoppersModel
@{
    ViewData["Title"] = "Minun ostoslistani";
}

<div class="text-center">
    <h1><i class="far fa-user"></i> Minun ostoslistani</h1>
    <div id="ostoslistatOsa" style="display: none;">
        <div class="shoppingList" id="ostoslistat">Ladataan...</div>
    </div>
    <h3 class="spaceAbove"><i class="fas fa-hand-holding-heart"></i> Jättämäni kauppakaveripyynnöt</h3>
    <div id="kaveriPyydetytOstoslistatOsa" style="display: none;">
        <div class="shoppingList" id="kaveriPyydetytOstoslistat">Ladataan...</div>
    </div>
    <h3 class="spaceAbove"><i class="fas fa-hands-helping"></i> Kauppakaverit</h3>
    <div id="kaveriOstoslistatOsa" style="display: none;">
        <div class="shoppingList" id="kaveriOstoslistat">Ladataan...</div>
    </div>
</div>

<script type="text/javascript">
    function loadMyShoppersSuccess(data) {
        var ostoslistat = $("#ostoslistat");
        ostoslistat.html("");

        var kaveriPyydetytOstoslistat = $("#kaveriPyydetytOstoslistat");
        kaveriPyydetytOstoslistat.html("");

        var kaveriOstoslistat = $("#kaveriOstoslistat");
        kaveriOstoslistat.html("");

        if (!data) {
            setListEmpty(ostoslistat);
            setListEmpty(kaveriPyydetytOstoslistat);
            setListEmpty(kaveriOstoslistat);
            return;
        }

        var i;
        var myShoppers = data.MyShoppers;

        if (!myShoppers || myShoppers.length === 0) {
            setListEmpty(ostoslistat);
        } else {
            ostoslistat.hide();
            ostoslistat.append(createShopperListHeader());

            for (i = 0; i < myShoppers.length; i++) {
                ostoslistat.append(createShopperRow(myShoppers[i]));
            };

            ostoslistat.fadeIn(1000);
        }

        var friendRequestedShoppers = data.FriendRequestedShoppers;

        if (!friendRequestedShoppers || friendRequestedShoppers.length === 0) {
            setListEmpty(kaveriPyydetytOstoslistat);
        } else {
            kaveriPyydetytOstoslistat.hide();
            kaveriPyydetytOstoslistat.append(createFriendRequestShopperListHeader());

            for (i = 0; i < friendRequestedShoppers.length; i++) {
                kaveriPyydetytOstoslistat.append(createFriendRequestShopperRow(friendRequestedShoppers[i]));
            };

            kaveriPyydetytOstoslistat.fadeIn(1000);
        }

        var friendShoppers = data.FriendShoppers;

        if (!friendShoppers || friendShoppers.length === 0) {
            setListEmpty(kaveriOstoslistat);
        } else {
            kaveriOstoslistat.hide();
            kaveriOstoslistat.append(createFriendShopperListHeader());

            for (i = 0; i < friendShoppers.length; i++) {
                kaveriOstoslistat.append(createFriendShopperRow(friendShoppers[i]));
            };

            kaveriOstoslistat.fadeIn(1000);
        }
    }

    function createShopperListHeader() {
        var row = createFriendShopperListHeader();
        row.append($('<div class="shoppingList-item-cell myHeader columnWidth"><i class="fas fa-hand-holding-heart" title="Odottavat kaveripyynnöt"></i></div>'));
        row.append($('<div class="shoppingList-item-cell myHeader columnWidth"><i class="fas fa-hands-helping" title="Kaverit"></i></div>'));
        return row;
    }

    function createFriendShopperListHeader() {
        var row = createFriendRequestShopperListHeader();
        row.append($('<div class="shoppingList-item-cell myHeader columnWidth"><i class="fas fa-hashtag" title="Tuotteet"></i></div>'));
        return row;
    }

    function createFriendRequestShopperListHeader() {
        var row = $('<div class="shoppingList-item-row"></div>');
        row.append($('<div class="shoppingList-item-cell myHeader">Ostoslista</div>'));
        return row;
    }

    function createShopperRow(data) {
        var row = createFriendShopperRow(data);
        row.append($('<div class="shoppingList-item-cell columnWidth"></div>').text(data.FriendRequestCount));
        row.append($('<div class="shoppingList-item-cell columnWidth"></div>').text(data.FriendCount));
        var col = $('<div class="shoppingList-item-cell columnWidth"></div>');
        col.append($('<i class="fas fa-tasks" style="cursor: pointer;" title="Asetukset"></i>').click(function () {
            window.location = "/Settings?lista=" + encodeURIComponent(data.ShopperName);
        }));
        row.append(col);
        row.append($('<div class="shoppingList-item-cell columnWidth"><i class="far fa-trash-alt" title="Poista ostoslista"></i></div>'));
        return row;
    }

    function createFriendShopperRow(data) {
        var row = createFriendRequestShopperRow(data);
        row.append($('<div class="shoppingList-item-cell columnWidth"></div>').text(data.ItemCount));
        return row;
    }

    function createFriendRequestShopperRow(data) {
        var row = $('<div class="shoppingList-item-row"></div>');
        var col = $('<div class="shoppingList-item-cell" style="cursor: pointer;"></div>');
        col.append($('<i class="fas fa-shopping-basket"></i>'));
        col.append($('<span class="profileName"></span>').text(data.ShopperName));
        col.click(function () {
            window.location = "/?lista=" + encodeURIComponent(data.ShopperName);
        });
        row.append(col);
        return row;
    }

    function setListEmpty(list) {
        list.html("");
        var row = $('<span class="nothing"></span>').text('Lista on tyhjä');
        row.hide().appendTo(list).fadeIn(1000);
    }

    function loadMyShoppers() {
        $("#ostoslistatOsa").show();
        $("#kaveriPyydetytOstoslistatOsa").show();
        $("#kaveriOstoslistatOsa").show();

        $.blockUI({ message: $('#waitIndContainer') });
        $.ajax({
            type: 'GET',
            url: "/api/ShoppingList/getMyShoppers",
            dataType: 'json',
            success: loadMyShoppersSuccess,
            error: function(e) {
                console.log("ERROR: " + e.toString());
            }
        });
    }

    $(document).ready(function () {
        $.blockUI.defaults.css = {};
        $(document).ajaxStop($.unblockUI);
        loadMyShoppers();
    });
</script>